<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% load i18n %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{% url 'home' %}" class="styled-link"><span>Mingjie Zhang / Apprenti ingénieur informatique</span></a>
        </div>
        <div>
            <form id="language_form" method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <input type="hidden" id="language_input" name="language" />
                <img src="{% static 'flags/en.svg' %}" class="flag" onclick="changeLanguage('en')" alt="English"/>
                <img src="{% static 'flags/fr.svg' %}" class="flag" onclick="changeLanguage('fr')" alt="Français"/>
                <img src="{% static 'flags/zh.svg' %}" class="flag" onclick="changeLanguage('zh-hans')" alt="中文"/>
            </form>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript">
        function changeLanguage(lang) {
            document.getElementById('language_input').value = lang;
            document.getElementById('language_form').submit();
        }
    </script>
</body>
<div class="footer">
    <div class="column">
        <h4>Tel</h4>
        <p>01 23 45 67 89</p>
    </div>
    <div class="column">
        <h4>E-mail</h4>
        <p><a href="mailto:mingjie.zhang.pro@gmail.com">mingjie.zhang.pro@gmail.com</a></p>
    </div>
    <div class="column">
        <h4>En ligne</h4>
        <div class="social-links">
            <a href="https://www.facebook.com"><i class="fab fa-github-f"></i></a>
            <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>

        </div>
    </div>
</div>
</html>
