{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="right-panel"></div>
<div class="left-panel"></div>
<div class="container">
    <div class="profile-card">
        <img src="/static/cat.jpg" alt="cat" class="profile-pic">
        <h2>Cat Nick Fury</h2>
        <h3>CHEF DE PROJET</h3>
        <div class="social-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="main-content">
        <h1>Hello</h1>
        <p>Qui je suis et ce que je fais</p>
        <div class="buttons">
            <button onclick="window.location.href='/resume/'" class="cv-button">CV</button>
            <button onclick="window.location.href='/projects/'" class="projects-button">PROJETS</button>
        </div>
        <p class="paragraph">Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur « Modifier Texte » ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices.</p>
        <p class="paragraph">Relatez ici votre parcours et présentez votre activité à vos visiteurs.</p>
    </div>
</div>

{% endblock %}
