{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="right-panel"></div>
<div class="left-panel"></div>
<div class="container">
    <div class="profile-card">
        <img src="{% static 'cat.jpg' %}" alt="cat" class="profile-pic">
        <h2>{% trans "Mingjie Zhang" %}</h2>
        <h3>{% trans "Apprenti ingénieur informatique" %}</h3>
        <div class="social-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="main-content">
        <h1>{% trans "Bonjour" %}</h1>
        <p>{% trans "Je suis un apprenti ingénieur informatique passionné par le développement de jeux vidéos et d'applications web. J'ai acquis des compétences en programmation et en conception de logiciels grâce à mes études et à mes projets personnels." %}</p>
        <div class="buttons">
            <button onclick="window.location.href='/resume/'" class="cv-button">{% trans "CV" %}</button>
            <button onclick="window.location.href='/projects/'" class="projects-button">{% trans "PROJETS" %}</button>
        </div>
    </div>
</div>
{% endblock %}
